@charset "UTF-8";
/* CSS Document */

html,
body {
  margin: 0;
  padding: 0; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility; }

*, *::before, *::after {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: lighter; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  -webkit-appearance: none;
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  border-radius: 0; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0; }

a,
area,
button,
input,
label,
select,
textarea {
  touch-action: manipulation; }

html, body {
  min-height: 100%; }

body {
  background: #111111;
  color: #fcfcfc;
  font-family: 'source-code-pro', 'Courier New', Courier, mono;
  font-weight: normal;
  font-size: 11px;
  line-height: 20px; }

::selection {
  color: #fcfcfc;
  background: #E0E0E0; }

h1,
h2 {
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 1; }

.grey {
  color: #616161; }

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  #intro header {
    position: relative;
    text-align: center;
    z-index: 2; }
    @media (min-width: 768px) {
      #intro header {
        padding-left: 150px;
        text-align: left; } }

.icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  color: #fcfcfc;
  opacity: 1; }
  @media (min-width: 580px) {
    .icon {
      width: 150px;
      height: 150px; } }
  @media (min-width: 768px) {
    .icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); } }
  .icon svg {
    width: 100px;
    height: 100px;
    fill: currentColor; }
    @media (min-width: 580px) {
      .icon svg {
        width: 150px;
        height: 150px; } }

.main-logo {
  position: relative;
  padding: 20px 20px;
  background: #111111; }
  .main-logo h1 {
    font-size: 26px;
    letter-spacing: 6px;
    backface-visibility: hidden;
    transition: all 1s ease; }
    @media (min-width: 580px) {
      .main-logo h1 {
        font-size: 47px;
        letter-spacing: 12px; } }
  .main-logo h2 {
    margin-left: 2px;
    font-size: 9px;
    line-height: 2.3;
    letter-spacing: 3px;
    backface-visibility: hidden;
    transition: all 1s ease; }
    @media (min-width: 580px) {
      .main-logo h2 {
        font-size: 13px; } }

.intro-links {
  margin: 10px -10px 0; }
  .intro-links a {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: .5px;
    text-align: center;
    color: #fcfcfc; }
    .intro-links a::before {
      content: '';
      border-bottom: 1px solid #616161;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transform: scaleX(0);
      transition: all .27s ease; }
    .intro-links a:hover::before {
      opacity: 1;
      transform: scaleX(1); }

